<section class="passengers__show__conatiner">

  <h3 class="passengers__show__title">
    <span><%= link_to "🔙", passengers_path, class: 'passengers__show__back-btn' %></span>
    About Passenger
  </h3>

  <div class="passengers__show__div-container">
    <%= image_tag "https://placedog.net/250/250?random", alt: "profile-photo", class: "passengers__show__profile-image" %>
    <p>
      <span class="passengers__show__detail-title">Name:</span>
      <%= @passenger[:name] %>
    </p>
    <p>
      <span class="passengers__show__detail-title">Phone Number:</span>
      <%= @passenger[:phone_num] %>
    </p>
    <p>
      <span class="passengers__show__detail-title">Total Charges:</span>
      $ <%= @passenger.total_charges %>
    </p>
  </div>

  <div class="passengers__show__btn">
    <%= link_to " Request Ride➕ ", passenger_trips_path(@passenger.id), method: :post, class: 'passengers__show__request-ride-btn' %>
    <%= link_to "E D I T ✏️  ", edit_passenger_path(@passenger.id), class: 'passengers__show__edit-btn' %>
    <%= link_to " Delete ❌ ", passenger_path(@passenger), method: :delete, data: { confirm: '❗️ Would you like to delete the passenger?'}, class: 'passengers__show__delete-btn' %>
  </div>
</section>



<%# reference: https://codepen.io/nikhil8krishnan/pen/WvYPvv %>
<section>
  <h4 class="passengers__show__trip-title"><%= @passenger.name  %>'s Trips</h4>
  <h6 class="gray-letter">order: sorted by date descending</h6>
  <div class="tbl-header passengers__show__background">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Trip ID</th>
          <th>Trip Date</th>
          <th>Passenger Name</th>
          <th>Driver Name</th>
          <th>Cost</th>
          <th>Rating</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>

      <% @passenger.sorted_trips_by_date.each do |trip| %>
            <tr>
              <td><%= link_to trip.id, trip_path(trip) %></td>
              <td><%= trip.date %></td>
              <td><%= link_to trip.passenger.name, passenger_path(trip.passenger) %></td>
              <td><%= link_to trip.driver.name, driver_path(trip.driver) %></td>
              <td>$<%= trip.cost %></td>
              <td>⭐️<%= trip.rating %> <%= link_to "edit", edit_trip_path(trip.id), class: 'small-edit-btn' %></td>

            </tr>
          <% end %>
        
      </tbody>
    </table>
  </div>
</section>