<%= form_with model: @driver, class: '_form__container' do |f| %>
  <p class="_form_instruction">Please provide the following information to <%= action_name %> the drivers to our database:</p>

  <% if @driver.errors.any? %> 
    <ul class="errors"> 
      <% @driver.errors.each do |column, message| %> 
        <li class="red">
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div class="_form-text-container">
    <div class="_form">
      <%= f.label :name, class: "_form__label" %>
      <%= f.text_field :name, class: "_form__text_field" %>
    </div>

    <div class="_form">
      <%= f.label :vin, class: "_form__label" %>
      <%= f.text_field :vin, class: "_form__text_field" %>
    </div>
  </div>

  <%= f.submit action_name, class: "_form__driver-btn" %>
<% end %>