<div class="drivers__index__main">
  <section class="drivers__index__conatiner">
    <h3 class="drivers__index__title">Driver List</h3>
    <div class="drivers__index__btn">
      <%= link_to "➕Add Driver", new_driver_path, class: 'drivers__index__add-btn' %>
    </div>
  </section>


  <%# reference: https://codepen.io/nikhil8krishnan/pen/WvYPvv %>
  <section>
    <h6 class="gray-letter">order: sorted by ID ascending</h6>
    <div class="tbl-header drivers__index__background">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Driver ID</th>
            <th>Name</th>
            <th>VIN</th>
            <th>AVAILABLE</th>
            <th>change status</th>
            <th>details</th>
            <%# <th>edit</th> %>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          
            <% @drivers.each do |driver| %>
              <tr>
                <td><%= driver.id %></td>
                <td><%= link_to driver.name, driver_path(driver) %></td>
                <td><%= driver.vin %></td>
                <% if driver.available %>
                  <td>available</td>
                <% else %>
                  <td>unavailable</td>
                <% end %>
                <td>
                  <%= link_to driver.available ? "Mark Unavailable" : "Mark Available", toggle_available_path(driver.id), method: :patch, data: { confirm: '❗️ Would you like to update your status?' } %>
                </td>
                <td><%= link_to "details", driver_path(driver) %></td>
              </tr>
            <% end %>
          
        </tbody>
      </table>
    </div>
  </section>
</div>