<section class="drivers__show__conatiner">

  <h3 class="drivers__show__title">
    <span><%= link_to "🔙", drivers_path, class: 'drivers__show__back-btn' %></span>
    About Driver
  </h3>
  <div class="drivers__show__div-container">
    <%= image_tag "http://www.thispersondoesnotexist.com/image", alt: "profile-photo", class: "drivers__show__profile-image" %>
    <p>
      <span class="drivers__show__detail-title">Name:</span>
      <%= @driver[:name] %>
    </p>
    <p>
      <span class="drivers__show__detail-title">VIN:</span>
      <%= @driver[:vin] %>
    </p>
    <p>
      <span class="drivers__show__detail-title">Available:</span>
      <%= @driver[:available] ? "available" : "unavailable" %>
    </p>
    <p>
      <span class="drivers__show__detail-title">Total Earnings:</span>
      $ <%= @driver.total_earnings %>
    </p>
    <p>
      <span class="drivers__show__detail-title">Average Rating:</span>
      ⭐️<strong><%= @driver.average_rating %></strong> / 5
    </p>
  </div>

  <div class="drivers__show__btn">
    <%= link_to @driver.available ? "Mark Unavailable" : "Mark Available", toggle_available_path(@driver.id), class: 'drivers__show__mark-available-btn', method: :patch, data: { confirm: '❗️ Would you like to update your status?' } %>
    <%= link_to "E D I T ✏️  ", edit_driver_path(@driver.id), class: 'drivers__show__edit-btn' %>
    <%= link_to " Delete ❌ ", driver_path(@driver.id), method: :delete, data: { confirm: '❗️ Would you like to delete the driver?'}, class: 'drivers__show__delete-btn' %>
  </div>
</section>



<%# reference: https://codepen.io/nikhil8krishnan/pen/WvYPvv %>
<section>
  <h4 class="drivers__show__trip-title"><%= @driver.name %>'s Trips</h4>
  <h6 class="gray-letter">order: sorted by date descending</h6>
  <div class="tbl-header drivers__show__background">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Trip ID</th>
          <th>Trip Date</th>
          <th>Passenger Name</th>
          <th>Driver Name</th>
          <th>Cost</th>
          <th>Rating</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        
          <% @driver.sorted_trips_by_date.each do |trip| %>
            <tr>
              <td><%= link_to trip.id, trip_path(trip) %></td>
              <td><%= trip.date %></td>
              <td><%= link_to trip.passenger.name, passenger_path(trip.passenger) %></td>
              <td><%= link_to trip.driver.name, driver_path(trip.driver) %></td>
              <td>$<%= trip.cost %></td>
              <td>⭐️<%= trip.rating %></td>
            </tr>
          <% end %>
        
      </tbody>
    </table>
  </div>
</section>